extends ./templates/template

append config
  - currentPage = pages.account
  - currentDescription = metaDescription.account

block content
  .mainContent__data
    h2 My list
    - const items = data
    each item in items
      +myListCard(item.state, item.title, item.img, item.platform, item.date, item.description)
block script
  script(src='/static/js/account.js')