extends ./templates/template

append config
  - currentPage = pages.comingSoon
  - currentDescription = metaDescription.comingSoon

block contentInterface
  .mainContent__interface
    h2 Coming Soon
block content
  .mainContent__data
    - const items = data
    each item in items
      +comingSoonCard(item.title, item.img, item.platform, item.date, item.description)
block script
  script(src='/static/js/coming-soon.js')