extends ./templates/template
block styles
  link(href='/static/css/loadingAnimation.css' rel='stylesheet')
block content
  .animationWrapper
    .loadingAnimation 
      p.loadingAnimation__text Loading...