doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(name='description' content='Inicio de sesion y registro de la aplicación')
  title= 'Login » VideoGamesAPP'
  link(href='/static/css/styles.css' rel='stylesheet')
  link(href='/static/css/loginSignUp.css' rel='stylesheet')
body
  main#contents.loginSignUpContent
    .loginSignUpContent__wrapper
      .loginSignUpContent__welcome
        h2 WELCOME
        p Sign up or login to access the app
      .loginSignUpContent__interface
        input(type='email' class='loginInput' id='loginEmail' placeholder='Email')
        input(type='password' class='loginInput' id='loginPassword' placeholder='Password')
        hr.loginSignUpContent__spacer
        button(id='btnLogin') Login
        a(href='/signUp' class='linkSignUp') Sign Up
        .infoLogin#infoLogin
  script(src='/static/js/login.js')