- const siteName = 'VideoGamesAPP'
- let currentPage = 'home'
- let currentDescription = 'Aplicación para consultar información sobre videojuegos'

-
  const metaDescription =  {
    home: 'Aplicación para consultar información sobre videojuegos',
    rankings: 'Rankigns de los juegos más jugados',
    comingSoon: 'Proximos lanzzamientos de videojuegos',
    account: 'Información de tu cuenta, tu lista de juegos y sus listas',
    search: 'Busqueda por nombre de videojuegos',
  }

-
  const pages = {
    home: 'home',
    rankings: 'rankings',
    comingSoon: 'coming-soon ',
    account: 'account',
    search: 'search',
  }