- const siteName = 'VideoGamesAPP'
- let currentPage = 'home'
- let currentDescription = 'Application to view video game rankings'

-
  const metaDescription =  {
    rankings: 'Games rankings by platform',
    comingSoon: 'Upcoming Video Game Releases',
    myList: 'Your list of games to play',
  }

-
  const pages = {
    rankings: 'rankings',
    comingSoon: 'coming-soon ',
    myList: 'myList',
  }