header.mainHeader
  h1.logo Games
    span.logo--rankingsWord Rankings
  nav.mainNav
    ul
      li.mainNav__item
        a(href='/rankings/Allall') Rankings
      li.mainNav__item
        a(href='/coming-soon') Coming soon
      li.mainNav__item
        a(class='myList' href='/myList') My List
      li.mainNav__item.mainNav__userInfo
        p#currentUser.mainNav__userInfo--name
        p#currentUserEmail.mainNav__userInfo--email
        button(id="logOut" class='mainNav__userInfo--button') Log Out
hr.body__spacer