header.mainHeader
  h1.logo APP
  nav.mainNav
    ul
      li.mainNav__item
        a(href='/rankings/Allall') Rankings
      li.mainNav__item
        a(href='/coming-soon') Coming soon
      li.mainNav__item
        a(class='account' href='/account') Account
      li.mainNav__item
        p#currentUser
        p#currentUserEmail
        button(id="logOut" class='logOut') Log Out